@main("My todo list") {

    <script src="@routes.Assets.at("js/index.js")" type="text/javascript"></script>

    <div class="row">
        <form id="addTodoForm" role="form">
            <div class="col-md-8 col-xs-8">
                <h1 class="text-center">My todo list</h1>
                <div class="form-group">
                    <input name="text" type="text" class="form-control" placeholder="New todo text..." autocomplete="off"/>
                </div>
            </div>
        </form>
    </div>

    <div id="todos"></div>

    <div id="updateTodoFormTemplate" class="hide">
        <div class="row wrapper">
            <form role="form">
                <div class="form-group">
                    <div class="col-md-12 col-xs-12">
                        <div class="row">
                            <div class="col-md-8 col-xs-8">
                                <div class="form-group no-margin has-feedback">
                                    <input type="text" name="text" class="form-control" autocomplete="off"/>
                                    <i class="hide glyphicon glyphicon-refresh glyphicon-refresh-animate form-control-feedback"></i>
                                </div>
                            </div>
                            <div class="col-md-4 col-xs-4 no-gutter">
                                <input type="checkbox" name="completed" class="hide"/>
                                <button class="completed-button btn"><i class="glyphicon glyphicon-ok"></i></button>
                                <button class="delete-button btn btn-danger"><i class="glyphicon glyphicon-remove"></i></button>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-4 col-xs-4">
                                <small><em class="createdOn"></em></small>
                            </div>
                            <div class="col-md-4 col-xs-4 text-right">
                                <small><em class="completedOn"></em></small>
                            </div>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>

    <div id="errorModal" class="modal fade" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-dialog modal-sm">
            <div class="modal-content panel panel-danger">
                <div class="panel-heading">Error</div>
                <div class="panel-body text-center">
                    <p class="error-message"></p>
                    <button class="ok-button btn btn-danger">Ok</button>
                </div>
            </div>
        </div>
    </div>

    <div id="deleteModal" class="modal fade" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-dialog modal-sm">
            <div class="modal-content panel panel-danger">
                <div class="panel-heading">Warning</div>
                <div class="panel-body text-center">
                    <p>You are about to delete</p>
                    <p><strong class="todo-text"></strong></p>
                    <p>This cannot be undone!</p>
                    <button class="cancel-button btn btn-default">Oops, never mind</button>
                    <button class="delete-button btn btn-danger">Delete it</button>
                </div>
            </div>
        </div>
    </div>
}
