@main("My todo list") {

    <script src="@routes.Assets.at("js/index.js")" type="text/javascript"></script>

    <div class="row">
        <form id="addTodoForm" role="form">
            <div class="col-md-8">
                <h1 class="text-center">My todo list</h1>
                <input name="text" type="text" class="form-control" placeholder="New todo text..." autocomplete="off"/>
            </div>
        </form>
    </div>

    <div id="todos"></div>

    <div id="updateTodoFormTemplate" class="hide">
        <div class="row">
            <form role="form">
                <input type="hidden" name="id"/>
                <div class="form-group">
                    <div class="col-md-8">
                        <div class="form-group has-feedback">
                            <input type="text" name="text" class="form-control" autocomplete="off"/>
                            <i class="hide glyphicon glyphicon-refresh glyphicon-refresh-animate form-control-feedback"></i>
                        </div>
                    </div>
                    <div class="col-md-4 no-gutter">
                        <input type="checkbox" name="completed"/>
                        <button class="update-button btn btn-default"><i class="glyphicon glyphicon-ok"></i></button>
                        <button class="delete-button btn btn-danger"><i class="glyphicon glyphicon-remove"></i></button>
                        <span class="completedOn"></span>
                    </div>
                </div>
            </form>
        </div>
    </div>

    <div id="errorModal" class="modal fade" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-dialog modal-sm">
            <div class="modal-content panel panel-danger">
                <div class="panel-heading">Error</div>
                <div class="panel-body text-center">
                    <p class="error-message"></p>
                    <button class="ok-button btn btn-danger">Ok</button>
                </div>
            </div>
        </div>
    </div>
}
